.kd-default-box.focus{
    box-shadow:  0 0 3px #3598FF;    
}


.kd-default-select-list{
    position: absolute;
    z-index: 100;
    font-size: 14px;
    background: #FFFFFF;
    border: 1px solid #EEF6FF;
    box-shadow: 0 4px 5px 0 #CCCCCC;
    border-radius: 4px;    
    max-height: 200px;
    overflow-y: auto;
    box-sizing: border-box; 
    animation-name: selectListBlur;
    animation-duration: 30s;
}

.kd-default-select-list.focus{
    animation-name: selectListFocus;
    animation-duration: 0.3s;
}


.kd-default-select-list li{
    padding-left:10px;
    height:36px;
    line-height: 36px;
    vertical-align: middle;
    font-size: inherit;
    border-top:1px solid #eee;
    cursor: pointer;
}

.kd-default-select-list li.active,
.kd-default-select-list li:hover{
    background: #EEF6FF;
}

.kd-default-box{
    position: relative;
    padding: 7px 28px 7px 10px;
    vertical-align: middle;
    background:#fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    display:inline-block;
    min-width: 100px;
    text-align: left;
    font-size: 14px;
    font-family: "microsoft yahei";
    cursor:pointer;
}


.kd-default-box .kd-default-arrow{    
    width: 11px;
    height: 7px;
    vertical-align: middle;
    display: inline-block;
    background: url(./arrow_down@1x.png);
    position:absolute;
    right:10px;
    z-index: 10;
    top: 50%;
    margin-top: -3px;        
    transform: rotate(0deg);
    transition: transform 200ms;
    
}

.kd-default-box.focus .kd-default-arrow{
    transform: rotate(180deg);
    transition: transform 200ms;
}


@keyframes selectListBlur {
    0% {
        opacity: 1;
    }
    100% {
        height: 0;
        opacity: 0;
    }
}

@keyframes selectListFocus {
    0% {
        opacity: 0;
        height: 0;
    }
    100% {
        opacity: 1;
        height: inherit;
    }
}
