* {
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

.inlineBlock {
    display: inline-block;
}

.floatLeft{
    float: left;
}

.floatRight{
    float: right;
}
