.orgTreeLayoutNew {
	padding: 20px 16px;
	height: 100%;
}

.orgTreeLayoutNew .layoutInner{
	position: relative;
	height: 100%;
	width:100%;
}

.orgTreeLayoutNew .layoutInner .orgTreeContent {
	display: grid;
	grid-template-columns: 340px auto;
    grid-template-rows: 100%;
	justify-items: center;
	height: 100%;
}

.orgTreeLayoutNew .orgTreeWrapperTd {
    border: 1px solid #E1E1E1;
    width: 100%;
    height: 100%;
    border-right: none;
}

.orgTreeLayoutNew .wrapperContent{
	border:1px solid #E1E1E1;
	padding-bottom: 30px;
}
